.location {
  display: flex;
  margin: 100px 0 60px;
  gap: 60px;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
}

.location-items {
  display: flex;
  gap: 48px;
}

.location a {
  display: flex;
  align-items: center;
  gap: 40px;
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 8px;
  padding: 10px 20px;
}

.grid-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.grid-item {
  /* max-width: 90%;
  margin: 0 auto; */
  border: 1px solid var(--card-border);
  padding: 16px;
  border-radius: 15px;
}

.grid-item:hover {
  transform: scale(1.05);
}

.stars {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    width: 90%;
  }

  .location {
    font-size: 14px;
    gap: 54px;
  }

  .location-items {
    gap: 36px;
  }
}

@media screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 912px) {
  .location {
    margin: 50px 0;
  }
  .location-items {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .inspiration-container h2 {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
